In [7]:
# a = "My age is "
# age = 45
# # example45
# c = a+str(age)
# print(c)
#ditch

My age is 45

In [11]:
# age = 45
# name = "Raj"
# text = "My age is {} and name is {}".format(age, name)
# text
#ditch

'My age is 45 and name is Raj'

In [13]:
# f string
age = 45
name = "Raj"
text = f"My age is {age} and name is {name}"
text
#use this syntax

'My age is 45 and name is Raj'

In [14]:
first_name = "Rushda"
last_name = "ansari"
fav_color = "blue"
# My name is Rushda ansari and my fav color is blue
print(f"My name is {first_name} {last_name} and my fav color is {fav_color}")

My name is Rushda ansari and my fav color is blue

In [16]:
print("line 1 /n \nline 2")

line 1
line 2

In [18]:
a = True
b = False
print(a and b)
print(a or b)
print(not a)
print(not ( a and b))

False
True
False
True

In [19]:
# operators
# print(2**3) # 2 to the power of 3
# print(15%2) # 1
# print(15%4) # remainder 3
print(17%4) # remainder 1

8

# PYTHON LISTS

In [3]:
list1 = ["apple", "banana", "cherry", "mango", "litchi"]
# print(list1[1])
# print(list1[1:])
# print(list1[:4])
# print(list1[-1]) # to access last element of list
list1[1] = "kiwi" # modify the second element of list from banana to kiwi, = is assignment operator, it assigns right wala value to left
print(list1)
list1.append("banana") # add banana to the end of the list
print(list1)
# list1.insert(1, "orange") # insert orange at index 1
# print(list1)

['apple', 'kiwi', 'cherry', 'mango', 'litchi']
['apple', 'kiwi', 'cherry', 'mango', 'litchi', 'banana']
['apple', 'orange', 'kiwi', 'cherry', 'mango', 'litchi', 'banana']

In [2]:
# example question
results = [1,2,4,5,3,6,7,8,9,10]
filtered_results = []
# append all elements of list a which are greater than 3 to results list
for i in results:
    if i>3:
        filtered_results.append(i)
print(filtered_results)

[4, 5, 6, 7, 8, 9, 10]

In [3]:
a= "hello"

use round bracket with functions eg list.append("apple") 

use square bracket for accessing elements of list, string etc. eg print(list[1])

In [8]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)
thislist.pop(0)
print(thislist)

['apple', 'cherry']
['cherry']

In [14]:
a = range(5)
a = [0,1,2,3,4]
# print(type(a))
for i in a:
    print(i)

0
1
2
3
4

In [21]:
# print your name 10 times
a = "rushda"
for i in range(10):
    print(a)

rushda
rushda
rushda
rushda
rushda
rushda
rushda
rushda
rushda
rushda

In [22]:
#PRINT ALL EVEN NUMBERS FROM 19 TO 41
for i in range(19,42):
    if i%2==0:
        print(i)

20
22
24
26
28
30
32
34
36
38
40

In [28]:
a = ["apple", "banana", "raspberry", "blueberry"]
#print all elements with even index
for i in range(len(a)):
    if i%2==0:
        print(a[i])
# for i in a:
#     print(i)

apple
raspberry

In [32]:
# # print all numbers from 10 to 1 including both
# for i in range(10,0,-1):
#     # start_index, end_index, step
#     print(i)
# same Q even numbers
for i in range(10,0,-2):
    # start_index, end_index, step
    print(i)

10
8
6
4
2

In [35]:
# print all numbers from 10 to 1 including both
# i = 10
# # while is like a repeating if condition
# # if condition:
# #     do something
# while i>0:
#     print(i)
#     i = i - 1

i = 1 # start index
while i<=10: # end index
    print(i)
    i = i + 1 # increment

1
2
3
4
5
6
7
8
9
10

In [39]:
# print all the elements of the list using while loop
fruits = ["apple", "banana", "raspberry", "blueberry"]
i = 0
while i<=3:
    print(fruits[i])
    i = i + 1

apple
banana
raspberry
blueberry